# don't upload wave files and pretrained models
*.wav
*.pt
*.pyc
*data-00000-of-00001
synthesizer/saved_models/logs-pretrained/taco_pretrained/tacotron_model.ckpt-278000.data-00000-of-00001
synthesizer/saved_models/*
__pycache__/

# pipfiles
Pipfile*

# exception to the rule
!saved_models/.gitkeep